[Unit]
Description=auto power management
After=asusd.service power-profiles-daemon.service

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/autopm

[Install]
WantedBy=graphical.target
